:root {
    --cursor-default: url("/images/cursor.png");
    --cursor-point: url("/images/cursor-point.png");
    --text-color-default: #fde4c4;
    --text-color-secondary: #f0c48e;
}

html, body {
    width: 100%;
    height: 100%;
    cursor: var(--cursor-default), auto;
    overflow-x: hidden;
}

body {
    background-image: url("/images/backgrounds/194.GIF");
    background-repeat: repeat;
}

.wrapper {
    background-color: #000;
    border: 3px solid white;
    border-radius: 10px;
    color: var(--text-color-default);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    max-width: 700px;
    opacity: 0.8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80vw;
}

.link, .link:visited {
    color: mediumvioletred;
    text-decoration: none;
}

a:hover, .link:hover {
    cursor: var(--cursor-point), auto;
}

.buttons {
    margin-top: 3vh;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: mediumvioletred rgba(0, 0, 0, 0);
    text-wrap-mode: nowrap;
    height: 31px;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 50vw;
    width:100%;
    color: bisque;
    background-color: #000;
    opacity: 0.8;
    transform: translateX(-50%);
    color: var(--text-color-secondary);
    text-align: center;
}