<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <h1 class="center">opDavi1</h1>
    <p>This website serves as my "home base" of sorts. I'll put images I find cool in the gallery, my pgp key lives here, my projects live here, etc.</p>
    <p>
        The <a href="">website source code</a> is available on my github, and is licensed under the GPL-3.0-or-later license. All text on this website is licensed under the CC BY-NC-SA 4.0 license.
        Any other media or images are copyright of their respective owners unless otherwise stated.
    </p>

    <h2>Philosophy</h2>
    <p>Too much of the internet today (time of writing: October 2025) is reliant on a few giant entities such as aws and cloudflare, and for less tech-savvy people they are too reliant on social medias such as instagram, twitter, facebook, etc. We need to return to the days of making your website your home, and owning your website fully. If AWS were to shut down forever tomorrow, this website wouldn't even be down for a second.</p>

    <h2>Contact me</h2>
    <p>Please use my <a href="/pgp">PGP Key</a> to verify any software that I distribute that comes with a signature, or use it to encrypt your messages to me if you feel like you need to do that.</p>


    <h2>Donations for server costs</h2>
    <p class="donations">
      Monero: 84RtmhCxkqcEgrnNvNapQ2hGMbmdgd3iCQKbXt7cq5vACXucwNaZjQCCdZqm5CWDyeHqahSUtytuH2o3P6foYQrKVJNE7QK <br>
      Bitcoin:  zpub6naYP93QV6FRe2JstBYVgKcjGw1RmL9Br8gwhE1THHDzj9a1RdxZtNxicTZitGJkKvd6FqFaV2H962diR1qpjHgij7rZXhpZY9k8eWCHwzX
    </p>
    <a href="mailto:opdavi1@opdavi1.com">Email me</a>

    <%- include("../partials/footer.ejs"); %>
</body>
</html>
