<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opDavi1</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <h1>opdavi1</h1>
        <p>
            Welcome to my website :3
        </p>
        <p>
            I'll add anything I find interesting here! Please take a look! :3
            Firefox (or any of its decendents) is recommended for viewing this website. This website tries to be mobile friendly, but it's not guaranteed.
        </p>
        <p>
            Below are some other cool websites! You should check them out as well :3
        </p>
        <h2><a href="/home" class="link">Enter!!! :3</a></h2>
    </div>
    <div class="wrapper buttons">
        <!-- espy -->
        <a target="_blank" href="https://espy.world/"><img src="/images/buttons/espy-world_button.gif" style="image-rendering: pixelated" /></a>
        <!-- slitherbop -->
        <a target="_blank" href="https://slitherbop.neocities.org/"><img src="/images/buttons/Slitherbop_Button.gif" style="image-rendering: pixelated" /></a>
    </div>
    <footer>
        <p class="copyright center">Copyright &copy; 2025 - &infin; opdavi1 :3! Trans rights reserved.</p>
    </footer>
</body>
</html>