<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>opDavi1</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/visitorCount.js"></script>
  </head>
  <body>
    <marquee behavior="scroll" direction="left">:3</marquee>
    <h1 class="center">Welcome :3</h1>
    <h2 class="subtitle center">Please make yourself at home ^^</h2>
    <nav id="nav" class="center">
      <ul>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/diary">Diary</a></li>
        <li><a href="/minecraft">Minecraft Server</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/pgp">Public Key</a></li>
      </ul>
    </nav>
    
    <h2 class="center">My presence is felt all throughout the internet and is inescapable :3</h2>
    <nav id="external-links" class="center">
      <ul>
        <li><a href="https://github.com/opDavi1", rel="noreferrer noopener">&gt;&gt;&gt;Github</a></li>
        <li><a href="https://opdavi1.bandcamp.com/music", rel="noreferrer noopener">&gt;&gt;&gt;Bandcamp</a></li>
        <li><a href="https://www.youtube.com/@opDavi1", rel="noreferrer noopener">&gt;&gt;&gt;YouTube</a></li>
        <li><a href="https://www.instagram.com/opdavi1/", rel="noreferrer noopener">&gt;&gt;&gt;Instagram</a></li>
      </ul>
    </nav>
    
    <p class="center">This page has been visited <span class="visitor-count"><%= visitorCount %></span> times.</p>
    <%- include ("../partials/footer.ejs"); %>
  </body>
</html>
