<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opDavi1's Minecraft Server</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="center">opDavi1's Minecraft Server</h1>
    <p class="center">I have a minecraft server! Hop on and build some cool stuff :3</p>
    <h2>Rules</h2>
    <ol>
        <li>No griefing. Do not destroy or modify someone's build without their consent.</li>
        <li>No hacking or mods. This is a vanilla survival server. Sodium, zoom mods, and shaders are okay.</li>
    </ol>
    <p>
        Failure to follow these rules will result in an immediate and irrevocable ip and account ban from the server.
        The server is backed up once per day, so griefing won't even do anything. 
    </p>
    
    <p>ip: mc.opdavi1.com</p>
    
    <%- include ("../partials/footer.ejs"); %>
</body>
</html>